@model PagedList.Core.IPagedList<AutodealerDbASP.Models.AutodealerDb.Entities.Client>
<div class="container">
    <h2 class="text-center page-header">Клиенты</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p><div class="glyphicon glyphicon-phone"></div> @Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                    <p><div class="glyphicon glyphicon-envelope"></div> @Html.DisplayFor(modelItem => item.Email)</p>
                    <p><div class="glyphicon glyphicon-map-marker"></div> @Html.DisplayFor(modelItem => item.Address)</p>
                    <p>
                        <a href="/AutodealerDb/EditClient/@item.ClientId" class="btn btn-default" role="button">Изменить</a>
                        <a href="/AutodealerDb/DeleteClient/@item.ClientId" class="btn btn-default" role="button">Удалить</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li>
                <a href="/AutodealerDb/ClientsList/?page=@(Model.PageNumber-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
        }
        @for (int i = 1; i < Model.PageCount + 1; i++)
        {
            @if (Model.PageNumber == i)
            {
                <li class="active">
                    <span>@i<span class="sr-only">(Current)</span></span>
                </li>
            }
            else
            {
                <li><a href="/AutodealerDb/ClientsList/?page=@i">@i</a></li>
            }
        }
        @if (Model.HasNextPage)
        {
            <li>
                <a href="/AutodealerDb/ClientsList/?page=@(Model.PageNumber+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        }
    </ul>
</nav>

<div>
    @Html.ActionLink("Добавить клиента", "AddClient")
</div>
