@model PagedList.Core.IPagedList<AutodealerDbASP.Models.AutodealerDb.Entities.Client>

<div class="container">

	<h2 class="text-center page-header">Клиенты</h2>

</div>
@foreach (var item in Model)
{
	<div class="container jumbotron ">

		<div class="text-center">

			<p class="description">@Html.DisplayFor(modelItem => item.Name)</p>

		</div>

		<div class="text-center">

			<p class="description">Телефон @Html.DisplayFor(modelItem => item.PhoneNumber)</p>

		</div>

		<div class="text-center">

			<p class="description">E-mail @Html.DisplayFor(modelItem => item.Email)</p>

		</div>

		<div class="text-center">

			<p class="description">Адрес @Html.DisplayFor(modelItem => item.Address)</p>

		</div>

		<div class="container">
			<div class="col-md-1 col-md-offset-4">
				<p><a class="btn btn-default" href="/AutodealerDb/DeleteClient/@item.ClientId">Удалить</a></p>
			</div>

			<div class="col-md-1 col-md-offset-1">
				<p><a class="btn btn-default" href="/AutodealerDb/EditClient/@item.ClientId">Изменить</a></p>
			</div>
		</div>

	</div>
}

<nav aria-label="Page navigation">
	<ul class="pagination">
		@if (Model.HasPreviousPage)
		{
			<li>
				<a href="/AutodealerDb/ClientsList/?page=@(Model.PageNumber-1)" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
		}
		else
		{
			<li class="disabled">
				<span>
					<span aria-hidden="true">&laquo;</span>
				</span>
			</li>
		}
		@for (int i = 1; i < Model.PageCount + 1; i++)
		{
			@if (Model.PageNumber == i)
			{
				<li class="active">
					<span>@i<span class="sr-only">(Current)</span></span>
				</li>
			}
			else
			{
				<li><a href="/AutodealerDb/ClientsList/?page=@i">@i</a></li>
			}
		}
		@if (Model.HasNextPage)
		{
			<li>
				<a href="/AutodealerDb/ClientsList/?page=@(Model.PageNumber+1)" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		}
		else
		{
			<li class="disabled">
				<span>
					<span aria-hidden="true">&raquo;</span>
				</span>
			</li>
		}
	</ul>
</nav>


<div>
	@Html.ActionLink("Добавить клиента", "AddClient")
</div>
