@model PagedList.Core.IPagedList<AutodealerDbASP.Models.AutodealerDb.Entities.ClientDeal>

<div class="container">

	<h2 class="text-center page-header">Сделки</h2>

</div>
@foreach (var item in Model)
{
	<div class="container jumbotron ">

		<div class="text-center">
			<p class="description">@Html.DisplayFor(modelItem => item.Lot.Model.CarBrand.Name) @Html.DisplayFor(modelItem => item.Lot.Model.Name)</p>
		</div>

		<div class="text-center">
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> @item.PurchaseDate.ToLongDateString();
		</div>

		<div class="text-center">
			<p class="description">@Html.DisplayFor(modelItem => item.Client.Name)</p>
		</div>

		<div class="text-center">
			<p class="description">@Html.DisplayFor(modelItem => item.Lot.PriceAmount) Руб</p>
		</div>

		<div class="container">
			<div class="col-md-1 col-md-offset-4">
				<p><a class="btn btn-default" href="/AutodealerDb/DeleteDeal/@item.ClientDealId">Удалить</a></p>
			</div>

			<div class="col-md-1 col-md-offset-1">
				<p><a class="btn btn-default" href="/AutodealerDb/EditDeal/@item.ClientDealId">Изменить</a></p>
			</div>
		</div>

	</div>
}

<nav aria-label="Page navigation">
	<ul class="pagination">
		@if (Model.HasPreviousPage)
		{
				<li>
					<a href="/AutodealerDb/DealsList/?page=@(Model.PageNumber-1)" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
		}
		else
		{
				<li class="disabled">
					<span>
						<span aria-hidden="true">&laquo;</span>
					</span>
				</li>
		}
		@for (int i = 1; i < Model.PageCount + 1; i++)
		{
			@if (Model.PageNumber == i)
			{
						<li class="active">
							<span>@i<span class="sr-only">(Current)</span></span>
						</li>
			}
			else
			{
						<li><a href="/AutodealerDb/DealsList/?page=@i">@i</a></li>
			}
		}
		@if (Model.HasNextPage)
		{
				<li>
					<a href="/AutodealerDb/DealsList/?page=@(Model.PageNumber+1)" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
		}
		else
		{
				<li class="disabled">
					<span>
						<span aria-hidden="true">&raquo;</span>
					</span>
				</li>
		}
	</ul>
</nav>


<div>
	@Html.ActionLink("Добавить сделку", "AddDeal")
</div>
