@model AutodealerDbASP.Models.AutodealerDb.Entities.Client

<h2>Удаление клиента</h2>

<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                <div class="control-label col-md-2">
                    <label>Название</label>
                </div>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                <div class="control-label col-md-2">
                    <label>Телефон</label>
                </div>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                <div class="control-label col-md-2">
                    <label>E-mail</label>
                </div>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                <div class="control-label col-md-2">
                    <label>Адрес</label>
                </div>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
@Html.ActionLink("Вернутся к списку клиентов", "ClientsList")