@model AutodealerDbASP.Models.AutodealerDb.Entities.Provider

<h2>Редактирование информации о поставщике</h2>

@using (Html.BeginForm("EditProvider", "AutodealerDb", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.ProviderId)

		<div class="form-group">
			<div class="control-label col-md-2">
				<label>Название</label>
			</div>
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="control-label col-md-2">
				<label>Номер телефона</label>
			</div>
			<div class="col-md-10">
				@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="control-label col-md-2">
				<label>E-mail</label>
			</div>
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="control-label col-md-2">
				<label>Сайт</label>
			</div>
			<div class="col-md-10">
				@Html.EditorFor(model => model.WebsiteUrl, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.WebsiteUrl, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
    @Html.ActionLink("Вернуться к списку поставщиков", "ProvidersList")
</div>
