@model PagedList.Core.IPagedList<AutodealerDbASP.Models.AutodealerDb.Entities.Model>

<div class="container">

	<h2 class="text-center page-header">Модели</h2>

</div>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.CarBrand.Name) @Html.DisplayFor(modelItem => item.Name)</h3>
                    <p><div class="glyphicon glyphicon-stop"></div> @Html.DisplayFor(modelItem => item.CarColor.Name)</p>
                    <p><div class="glyphicon glyphicon-fire"></div> @Html.DisplayFor(modelItem => item.Power) Л.С.</p>
                    <p>
                        <a href="/AutodealerDb/EditModel/@item.ModelId" class="btn btn-default" role="button">Изменить</a>
                        <a href="/AutodealerDb/DeleteModel/@item.ModelId" class="btn btn-default" role="button">Удалить</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


<nav aria-label="Page navigation">
	<ul class="pagination">
		@if (Model.HasPreviousPage)
		{
				<li>
					<a href="/AutodealerDb/ModelsList/?page=@(Model.PageNumber-1)" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
		}
		else
		{
				<li class="disabled">
					<span>
						<span aria-hidden="true">&laquo;</span>
					</span>
				</li>
		}
		@for (int i = 1; i < Model.PageCount + 1; i++)
		{
			@if (Model.PageNumber == i)
			{
						<li class="active">
							<span>@i<span class="sr-only">(Current)</span></span>
						</li>
			}
			else
			{
						<li><a href="/AutodealerDb/ModelsList/?page=@i">@i</a></li>
			}
		}
		@if (Model.HasNextPage)
		{
				<li>
					<a href="/AutodealerDb/ModelsList/?page=@(Model.PageNumber+1)" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
		}
		else
		{
				<li class="disabled">
					<span>
						<span aria-hidden="true">&raquo;</span>
					</span>
				</li>
		}
	</ul>
</nav>


<div>
	@Html.ActionLink("Добавить модель", "AddModel")
</div>
